@model BTL_DiDongViet.Models.CartViewModel
@{
    ViewBag.Title = "Xác nhận thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="cart-container">
        <div class="cart-left" style="width: 450px;">
            <div class="card__header">Thông tin nhận hàng</div>
            <div class="cart-items">
                <div class="card__body info-commit">
                    <label for="ship-name">Họ và Tên</label>
                    <input id="ship-name" class="clearable" type="text" name="" value="" placeholder="">
                    <label for="ship-address">Địa chỉ</label>
                    <input id="ship-address" class="clearable" type="text" name="" value="" placeholder="">
                    <label for="ship-email">Email</label>
                    <input id="ship-email" class="clearable" type="email" name="" value="" placeholder="">
                    <label for="ship-phone">Số điện thoại</label>
                    <input id="ship-phone" class="clearable" type="text" name="" value="" placeholder="">
                </div>
            </div>
        </div>
        <div class="cart-right">
            <div class="card">
                <div class="card__header">Thông tin thanh toán</div>
                <div class="card__body">
                    @{ double total = 0; double sale = 0;}
                    @if (Model != null)
                    {
                        foreach (var item in Model.product)
                        {
                            var pQuantity = Model.order.Find(o => o.ProductID == item.ID);
                            total += double.Parse(item.Price.ToString()) * pQuantity.Quantity;
                            sale += double.Parse((item.Price - item.Sale * item.Price / 100).ToString()) * pQuantity.Quantity;
                            <div style="font-size: 16px;">
                                <span>Tên sản phẩm</span>
                                <span style="float: right; font-weight: 400;">@item.ProductName</span>
                            </div>
                            <div style="font-size: 16px; margin-top: 8px;">
                                <span>Màu</span>
                                <span style="float: right; font-weight: 400;">@item.Color</span>
                            </div>
                            <div style="font-size: 16px;margin-top: 8px;">
                                <span>Số lượng</span>
                                <span style="float: right; font-weight: 400;">@pQuantity.Quantity</span>
                            </div>

                        }
                    }

                </div>
                <div class="card__footer">
                    <div style="font-size: 16px;">
                        <span>Tổng tiền</span>
                        <span style="float: right; font-weight: 400;">@String.Format("{0:0,0}", sale)đ</span>
                    </div>
                    <button class="dathang">
                        <a href="cart_commit.html" style="text-decoration: none; color: white;">
                            <span>Đặt hàng</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
