
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main" style="padding-top: 0px;">
    <!-- Welcome Package Begin -->
    <div class="welcome-package-banner" data-current-src="https://cf.shopee.vn/file/d3fa706887cf34ddd491c8fc60e37d9f_xxhdpi" style="background-image: url(https://didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/1/2/1280x80_3_.png); background-size: contain; background-repeat: no-repeat;"></div>
    <!-- Welcome Package End -->
    <div>
        @Html.ActionLink("Trang chủ", "Home", "Category", null, new { @class = "nav-link nav-arrow" })
        <span class="nav-link">Liên hệ</span>
    </div>
    <!-- Section Below The Fold Begin -->
    <div class="section-below-the-fold" style="padding-bottom: 0;">
        <!-- Flash Sale Begin-->
        <div class="shopee-flash-sale-overview-carousel">
            <div class="shopee-header-section
                        shopee-header-section--simple">
                <div class="shopee-header-section__content">
                    <div class="image-carousel">
                        <div class="image-carousel__item-list-wrapper">
                            <div class="container" style="flex-direction: column; padding-top: 0;">
                                <!-- <img style="object-fit: contain;" src="https://didongviet.vn/pub/media/wysiwyg/09/sis.jpg" alt=""> -->
                                <h2 style="margin-bottom: 4px;font-size: 24px"></h2>
                                <div class="new-desc">
                                    <h2 style="margin-top: 0">Hỗ Trợ</h2>
                                    <pre style="margin-top: 0;" id="pre-content"><span class="capitalize-word">gọi</span> tư vấn máy - phụ kiện (08:30 – 21:30)
                                    <span class="capitalize-word">hotline</span>: 1800.6018

                                    <span class="capitalize-word">khiếu</span> nại - góp ý (08:30 – 21:30)
                                    <span class="capitalize-word">hotline</span>: 1800.6306

                                    <span class="capitalize-word">bảo</span> hành - hỗ trợ kỹ thuật (09:00 – 21:00)
                                    <span class="capitalize-word">hotline</span>: 1800.6018

                                    <span class="capitalize-word">gọi</span> mua hàng từ xa(09:00 – 21:00)
                                    <span class="capitalize-word">hotline</span>: 1800.6018
                                    </pre>
                                    <h3>CẢM ƠN QUÝ KHÁCH ĐÃ SỬ DỤNG DỊCH VỤ CỦA DI ĐỘNG VIỆT !!!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Flash Sale End-->
        <!-- Skinny Banner Beign-->
        <div style="margin-top: 20px">
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div style="background: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpod-3.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;" class="shopee-skinny-banner__full-height reactJS_2GchKS"></div>
                    </div>
                </a>
            </div>
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS" style="background-image: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpods-didongviet-banner-1.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;"></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Skinny Banner End-->
        <!-- Section Below The Fold End -->
    </div>
</div>

