
@{
    ViewBag.Title = "Policy";
}

<div class="main" style="padding-top: 0px;">
    <!-- Welcome Package Begin -->
    <div class="welcome-package-banner" data-current-src="https://cf.shopee.vn/file/d3fa706887cf34ddd491c8fc60e37d9f_xxhdpi" style="background-image: url(https://didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/1/2/1280x80_3_.png); background-size: contain; background-repeat: no-repeat;"></div>
    <!-- Welcome Package End -->
    <div>
        <a href="index_user.html" class="nav-link nav-arrow">Trang chủ</a>
        <span class="nav-link">Chính sách</span>
    </div>
    <!-- Section Below The Fold Begin -->
    <div class="section-below-the-fold" style="padding-bottom: 0;">
        <!-- Flash Sale Begin-->
        <div class="shopee-flash-sale-overview-carousel">
            <div class="shopee-header-section
                        shopee-header-section--simple">
                <div class="shopee-header-section__header">
                    <div class="shopee-header-section__header__title" style=" padding: 16px 0;margin-right: 0">
                        <div class="flash-sale-header-with-countdown-timer
                                 flash-sale-header-with-countdown-timer--undefined">
                            <div class="flash-sale-header-with-countdown-timer__wrapper
                                    flash-sale-header-with-countdown-timer__wrapper--undefined">
                                <div class="
                                       flash-sale-header-with-countdown-timer__header--vn">Chính sách</div>
                                <div class="shopee-countdown-timer
                                       flash-sale-header-with-countdown-timer__countdown-timer">
                                    <div class="shopee-countdown-timer__number">
                                        <div class="shopee-countdown-timer__number__hexa"></div>
                                        <div class="shopee-countdown-timer__number__deca"></div>
                                    </div>
                                    <div class="shopee-countdown-timer__colon
                                          shopee-countdown-timer__colon--flashing-off">
                                        <div class="colon-dot__wrapper">
                                            <span class="colon-dot"></span>
                                        </div>
                                        <div class="colon-dot__wrapper">
                                            <span class="colon-dot"></span>
                                        </div>
                                    </div>
                                    <div class="shopee-countdown-timer__number"></div>
                                    <div class="shopee-countdown-timer__colon
                                          shopee-countdown-timer__colon--flashing-off"></div>
                                    <div class="shopee-countdown-timer__number"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="/flash_sale?promotionId=2026713624" class="shopee-header-section__header-link"> <button class="shopee-button-no-outline"> Xem thêm&ensp; <svg enable-background="new 0 0 11 11" viewbox="0 0 11 11" x="0" y="0" class="shopee-svg-icon icon-arrow-right"> <path d="m2.5 11c .1 0 .2 0
                    .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"></path> </svg> </button> </a> -->
                </div>
                <div class="shopee-header-section__content">
                    <div class="image-carousel">
                        <div class="image-carousel__item-list-wrapper">
                            <div class="container" style="flex-direction: column">
                                <!-- <img style="object-fit: contain;" src="https://didongviet.vn/pub/media/wysiwyg/09/sis.jpg" alt=""> -->
                                <div class="container-right">
                                    <h2 style="margin-bottom: 4px;font-size: 24px"></h2>
                                    <div class="new-desc">
                                        <h2>1. CHÍNH SÁCH BẢO HÀNH TIÊU CHUẨN</h2>
                                        <div>Các sản phẩm chính hãng, Quý khách hàng có thể tới trực tiếp các TTBH chính hãng, Trung tâm Bảo hành ủy quyền Viện Di Động hoặc có thể đến trực tiếp các cửa hàng của Di Động Việt để được tiếp nhận gửi máy bảo hành chính hãng.</div>
                                        <img style="object-fit: contain;" src="https://didongviet.vn/pub/media/ddv/chinh-sach-bao-hanh-didongviet.jpg" alt="">
                                        <h2>2. CHÍNH SÁCH ĐỔI TRẢ</h2>
                                        <pre id="pre-content" style="margin-top: 0">a) <span class="capitalize-word">di</span> động việt có quyền từ chối thu lại một số sản phẩm di động việt đánh giá là không thể thu lại được.
b) <span class="capitalize-word">trong</span> tháng đầu tiên, nếu máy không còn đủ hộp, phụ kiện sẽ tính phí 5% mỗi phụ kiện thiếu (tai nghe, sạc, cáp)
c) <span class="capitalize-word">chính</span> sách đổi trả này không áp dụng đối với sản phẩm iphone chính hãng mã vn/a.</pre>
                                        <img style="object-fit: contain;" src="https://didongviet.vn/pub/media/wysiwyg/Chinh-sach/chinh-sach-doi-tra/chinh-sach-doi-tra-1-didongviet_1.jpg" alt="">
                                        <h2>3. CHÍNH SÁCH SỬ DỤNG</h2>
                                        <div style="margin-top: 0">
                                            Các điều khoản và điều kiện sau đây (gọi chung là các “điều khoản sử dụng”) quy định việc truy cập và sử dụng các dịch vụ, thông tin từ didongviet.vn. bằng việc sử dụng bất kỳ dịch vụ nào của didongviet.vn, bạn chấp nhận, đồng ý bị ràng buộc và tuân thủ các điều khoản sử
                                            dụng của didongviet.vn dưới đây. nếu bạn không đồng ý với bất kỳ điều khoản sử dụng, chính sách bảo mật của didongviet.vn hoặc không có đầy đủ năng lực hành vi dân sự phù hợp, xin vui lòng dừng việc truy cập và sử dụng didongviet.vn ngay lập tức.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Flash Sale End-->
        <!-- Skinny Banner Beign-->
        <div style="margin-top: 20px">
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div style="background: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpod-3.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;" class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS"></div>
                    </div>
                </a>
            </div>
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS" style="background-image: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpods-didongviet-banner-1.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;"></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Skinny Banner End-->
        <!-- Section Below The Fold End -->
    </div>
</div>

