
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main" style="padding-top: 0px;">
    <!-- Welcome Package Begin -->
    <div class="welcome-package-banner"
         data-current-src="https://cf.shopee.vn/file/d3fa706887cf34ddd491c8fc60e37d9f_xxhdpi"
         style="background-image: url(https://didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/1/2/1280x80_3_.png); background-size: contain; background-repeat: no-repeat;">
    </div>
    <!-- Welcome Package End -->
    <div>
        <a href="home" class="nav-link nav-arrow">Trang chủ</a>
        <span class="nav-link">Giới thiệu</span>
    </div>
    <!-- Section Below The Fold Begin -->
    <div class="section-below-the-fold" style="padding-bottom: 0;">
        <!-- Flash Sale Begin-->
        <div class="shopee-flash-sale-overview-carousel">
            <div class="shopee-header-section
                        shopee-header-section--simple">
                <div class="shopee-header-section__header">
                    <div class="shopee-header-section__header__title"
                         style=" padding: 16px 0;margin-right: 0">
                        <div class="flash-sale-header-with-countdown-timer
                                 flash-sale-header-with-countdown-timer--undefined">
                            <div class="flash-sale-header-with-countdown-timer__wrapper
                                    flash-sale-header-with-countdown-timer__wrapper--undefined">
                                <div class="
                                       flash-sale-header-with-countdown-timer__header--vn">Giới thiệu</div>
                                <div class="shopee-countdown-timer
                                       flash-sale-header-with-countdown-timer__countdown-timer">
                                    <div class="shopee-countdown-timer__number">
                                        <div class="shopee-countdown-timer__number__hexa">
                                        </div>
                                        <div class="shopee-countdown-timer__number__deca">
                                        </div>
                                    </div>
                                    <div class="shopee-countdown-timer__colon
                                          shopee-countdown-timer__colon--flashing-off">
                                        <div class="colon-dot__wrapper">
                                            <span class="colon-dot"></span>
                                        </div>
                                        <div class="colon-dot__wrapper">
                                            <span class="colon-dot"></span>
                                        </div>
                                    </div>
                                    <div class="shopee-countdown-timer__number">
                                    </div>
                                    <div class="shopee-countdown-timer__colon
                                          shopee-countdown-timer__colon--flashing-off"></div>
                                    <div class="shopee-countdown-timer__number">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="/flash_sale?promotionId=2026713624" class="shopee-header-section__header-link"> <button class="shopee-button-no-outline"> Xem thêm&ensp; <svg enable-background="new 0 0 11 11" viewbox="0 0 11 11" x="0" y="0" class="shopee-svg-icon icon-arrow-right"> <path d="m2.5 11c .1 0 .2 0
                          .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"></path> </svg> </button> </a> -->
                </div>
                <div class="shopee-header-section__content">
                    <div class="image-carousel">
                        <div class="image-carousel__item-list-wrapper">
                            <div class="container" style="flex-direction: column">
                                <img style="object-fit: contain;"
                                     src="https://didongviet.vn/pub/media/wysiwyg/09/sis.jpg"
                                     alt="">
                                <div class="container-right">
                                    <h2 style="margin-bottom: 4px;font-size: 24px">
                                    </h2>
                                    <div class="new-time">10/12/2021</div>
                                    <div class="new-desc">
                                        <div>
                                            Công ty TNHH Công Nghệ Di Động Việt
                                            vận hành chuỗi cửa hàng
                                            Didongviet.vn, được thành lập năm
                                            2009 với tư cách một hệ thống uy tín
                                            chuyên kinh doanh các mặt hàng công
                                            nghệ chính hãng, nổi bật là điện
                                            thoại di động, máy tính bảng,
                                            laptop, phụ kiện, linh kiện...
                                        </div>
                                        <img style="object-fit: contain;"
                                             src="https://didongviet.vn/pub/media/wysiwyg/didongviet-mobifone.jpg"
                                             alt="">
                                        <div>
                                            Tháng 11/2020, Di Động Việt tự hào
                                            trở thành đại lý uỷ quyền chính thức
                                            của Apple (AppleAuthorisedReseller -
                                            AAR) và lần đầu tổ chức sự kiện mở
                                            bán iPhone 12 series VN/A với tư
                                            cách một AAR thành công rực rỡ với
                                            lượng đơn hàng đặt trước lên đến 5-6
                                            ngàn máy, trong đó có hơn 300 sao
                                            Việt nổi tiếng.
                                        </div>
                                        <img style="object-fit: contain;"
                                             src="https://didongviet.vn/pub/media/wysiwyg/didongviet-mo-ban-iphone-12-series.jpg"
                                             alt="">
                                        <div>
                                            Từ năm 2018 đến nay, ngoài hàng trăm
                                            ngàn khách hàng mỗi năm, Di Động
                                            Việt trở thành địa chỉ uy tín được
                                            phục vụ hơn 300 sao Việt khi có nhu
                                            cầu mua sắm, Trade-in thu cũ đổi mới
                                            các thiết bị iPhone, Samsung mới.
                                            Hơn 10 năm phát triển - Những lần
                                            chuyển mình Từ định hướng tập trung
                                            kinh doanh
                                            các dòng điện thoại cao cấp chính
                                            hãng xách tay giá tốt trong những
                                            năm đầu thành lập, đến nay thương
                                            hiệu Di Động Việt đã trở thành cái
                                            tên có sức nặng trên thị trường sản
                                            phẩm chính hãng tại Việt Nam. Từ cửa
                                            hàng có quy mô nhỏ, không có chi
                                            nhánh, đến nay đã có 24 cửa hàng
                                            trong chuỗi
                                            Didongviet.vn và 11 cửa hàng liên
                                            kết Mobifone - Di Động Việt, phục vụ
                                            hàng triệu khách hàng mỗi năm. Từ
                                            việc chỉ giới hạn kinh doanh sản
                                            phẩm của một vài thương hiệu lớn như
                                            Apple, Samsung, Sony, LG... đến nay,
                                            Di Động Việt đã và đang trở thành
                                            đối tác của các hãng danh tiếng khác
                                            như Nokia,
                                            Vsmart, Oppo.... Thành quả này, đến
                                            từ sự cố gắng không mệt mỏi của Di
                                            Động Việt nhằm mang tới cho khách
                                            hàng những sản phẩm chất lượng cao
                                            nhất trong tầm giá thấp nhất, chế độ
                                            bảo hành - hậu mãi vượt trội nhất,
                                            sự an tâm tuyệt đối khi chọn mua, sự
                                            thoải mái tối đa khi click vào
                                            website/đặt chân vào
                                            hệ thống cửa hàng.
                                        </div>
                                        <img style="object-fit: contain;"
                                             src="https://didongviet.vn/pub/media/wysiwyg/khai-truong-cua-hang-15.JPG"
                                             alt="">
                                        <div>
                                            Sau gần 10 năm hoạt động, với đội ngũ
                                            nhân viên coi khách hàng là trung
                                            tâm, tận tâm phục vụ, công ty TNHH
                                            Công Nghệ Di Động Việt với hệ thống
                                            Didongviet.vn đã trở thành một trong
                                            những website chuyên bán lẻ các
                                            thiết bị di động có tên tuổi tại thị
                                            trường Việt Nam, với các chi nhánh
                                            tại TP.HCM,
                                            Đà Nẵng. Với khát khao mang tới sự
                                            hài lòng tuyệt đối cho khách hàng,
                                            phát triển thương hiệu bằng giá trị
                                            cốt lõi là niềm tin của khách hàng,
                                            công ty luôn cố gắng nỗ lực để cập
                                            nhật, phát triển không ngừng nghỉ.
                                            Chân thành cảm ơn Quý khách hàng đã
                                            ủng hộ Di Động Việt trong thời gian
                                            vừa qua và ước
                                            mong tiếp tục nhận được sự ủng hộ
                                            trong thời gian tới. Trân trọng !
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Flash Sale End-->
        <!-- Skinny Banner Beign-->
        <div style="margin-top: 20px">
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div style="background: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpod-3.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;" class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS"></div>
                    </div>
                </a>
            </div>
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS" style="background-image: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpods-didongviet-banner-1.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;"></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Skinny Banner End-->
        <!-- Section Below The Fold End -->
    </div>
</div>

