

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Đăng kí thành công</title>
    <link href="~/assets/css/base.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/sign_up.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="~/assets/fonts/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="header-navbar">
        <div class="navbar">
            <div class="navbar-right">
                <a href="index.html">
                    <img class="navbar-right__logo" src="https://didongviet.vn/pub/media/logo/stores/1/logo-ddv.png" alt="">
                </a>
                <div class="navbar-right__text"></div>
            </div>
            <div class="navbar-left">
                <a href="/Users/LoginIndex" style="text-decoration:none;">Đăng Nhập</a>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="content-container">
            <form>
                <div class="form-header">
                    <p>Thông Báo</p>

                </div>
                <div class="form-content">

                    <h1>Đăng ký tài khoản thành công</h1>
                  
                </div>
                <div class="form-social">


                </div>
            </form>

          
        </div>
    </div>
    <script src="~/assets/js/base.js" defer="defer"></script>

</body>
</html>

